/*image styles*/
.img{
    background-color: #333;
    object-fit: cover;
    overflow: hidden;
    margin: 0 auto;
}



.img img{

    transition: 0.5s all ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: opacity(0.9) brightness(0.8);
}

.img:hover img{
    transform: scale(1.15);
   filter: opacity(1) brightness(1);
}

#img1{
    grid-area: img1;
    width: 210px;
    height: 410px;
}

#img2{
    grid-area: img2;
    width: 210px;
    height: 200px;
}

#img3{
    grid-area: img3;
    width: 430px;
    height: 200px;
}

#img4{
    grid-area: img4;
    width: 210px;
    height: 200px;
}

#img5{
    grid-area: img5;
    width: 430px;
    height: 200px;
}

#img6{
    grid-area: img6;
    width: 210px;
    height: 410px;
}

#img7{
    grid-area: img7;
    width: 210px;
    height: 200px;
}

#img8{
    grid-area: img8;
    width: 210px;
    height: 410px;
}

#img9{
    grid-area: img9;
    width: 430px;
    height: 200px;
}

#img10{
    grid-area: img10;
    width: 210px;
    height: 200px;
}


/*sidebar styles*/
.logo-header img{
    width: 200px;
    height: auto;
}
.sidebar-link{
    color: #232323;
    transition: color 0.3s ease;
}
.sidebar-link:hover{
    color: #e94127;
}
/*text styles*/
.page-head{
    font-size: 4em;
    margin: 0px;
    margin-top: 5px;
    margin-left: 15px;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Coda', cursive;
    font-weight: 800;
    color: #343434;
}
.page-head-2{
    font-size: 2em;
    margin: 0px;
    margin-top: 10px;
    margin-left: 20px;
}
p{
    font-size: 1.3em;
    margin: 20px;
    margin-top: 15px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}
a{
    text-decoration: none;
    color: #047E9F;
    font-weight: 700;
}
a:hover{
    text-decoration: underline;
    color: #047E9F;
    font-weight: 700;
}




.icon-head{
    text-align: center;
    height:70;
}




.icons-side img{
    width: 75px;
    height: auto;
}
.icons-side p{
    font-size: 1em;
    text-align: center;
}
.icons-side{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: calc(100% - 100px);
    max-width: 335px;
}

.icons-side div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:115px;
}

#section-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    font-family: 'Nunito', sans-serif;
    font-size: 1.3em;
    margin: 0px;
    margin-top: 15px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    font-weight: 600;
}
.text-center{
    margin-left: 0px;
}