#section-4 > .img-gallery{
    display: grid;
    grid-template-columns: 160px 160px 160px 160px;
    grid-template-rows: 150px 150px 150px 150px ;
    grid-template-areas: 
    "img1 img2 img3 img3"
    "img1 img5 img5 img6"
    "img7 img4 img8 img6"
    "img9 img9 img8 img10"
    ;
    grid-gap:10px;
    margin: 10px;
}

.img{
    background-color: #eee;
    object-fit: cover;
}


#img1{
    grid-area: img1;
    width: 160px;
    height: 310px;
    overflow: hidden;
    margin: 0 auto;
}
.img img{
    width: 100%;
    transition: 0.5s all ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img:hover img{
    transform: scale(1.15);
}

#img2{
    grid-area: img2;
    width: 160px;
    height: 150px;
    overflow: hidden;
    margin: 0 auto;
}

#img3{
    grid-area: img3;
}

#img4{
    grid-area: img4;
}

#img5{
    grid-area: img5;
}

#img6{
    grid-area: img6;
}

#img7{
    grid-area: img7;
}

#img8{
    grid-area: img8;
}

#img9{
    grid-area: img9;
}

#img10{
    grid-area: img10;
}