

body{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns:250px 7% 1fr 1fr 1fr 7%;
    grid-template-rows: 30px 300px 1fr 200px 150px;
    grid-template-areas: 
    "head . s5 s5 s5 ."
    "head . s1 s1 s4 ."
    "head . s2 s2 s4 ."
    "head . s3 s3 s3 ."
    "head foot foot foot foot foot"
    ;
    background-image: url(../images/backgrounds/utah-landscape.jpg);
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section{
    background-color: #fff;

    margin:10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    border-radius: 2px;
}

#header{
    grid-area: head;
    background-color: #fff;
    margin-bottom: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

#nav{
    grid-area: nav;
    background-color: #ddd;
    margin-bottom: 5px;
}

#footer{
    grid-area: foot;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    z-index: -1;
    margin-top: 30px;
}

#section-1{
    grid-area: s1;
}

#section-2{
    grid-area: s2;
}

#section-3{
    grid-area: s3;
}

#section-4{
    grid-area: s4;
}

#section-5{
    grid-area: s5;
    display: none;
}

#section-6{
    grid-area: s6;
    display: none;
}


.header-title{
    padding:5px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -5px;
}

.header-title div{
    padding:5px;
}


.logo-header{
    height:100px;
    width:200px;
    margin: 5px 25px;
}

#nav{
    margin-top: -10px;
}

#section-4 > .img-gallery{
    display: grid;
    grid-template-columns: 160px 160px 160px 160px;
    grid-template-rows: 150px 150px 150px 150px ;
    grid-template-areas: 
    "img1 img2 img3 img3"
    "img1 img5 img5 img6"
    "img7 img4 img8 img6"
    "img9 img9 img8 img10"
    ;
    grid-gap:10px;
    margin: 10px;
}

.header-wrapper{
    position: fixed;
    width:250px;
    height:100vh;
    z-index: 1;
    margin-bottom: 5px;
    background-color: #fff;
}

.logo-wrapper{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}